In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Churn_Modelling.csv')

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
# Female = 0 and male = 1
df['Geography'] = le.fit_transform(df['Geography'])

In [ ]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = df.drop('Exited', axis = 1)
y = df['Exited']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [ ]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense , Dropout

In [ ]:
model = Sequential()
model.add(Dense(activation='relu', input_dim=x_train.shape[1], units=32))
model.add(Dropout(0.5))
model.add(Dense(activation='relu', units=16))
model.add(Dense(activation='sigmoid', units=1))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
model.fit(x_train, y_train, batch_size=32, epochs=50)

Epoch 1/50
235/235  1s 1ms/step - accuracy: 0.7665 - loss: 0.5519
Epoch 2/50
235/235  1s 1ms/step - accuracy: 0.8054 - loss: 0.4646
Epoch 3/50
235/235  0s 1ms/step - accuracy: 0.8132 - loss: 0.4403
Epoch 4/50
235/235  0s 1ms/step - accuracy: 0.8182 - loss: 0.4294
Epoch 5/50
235/235  1s 1ms/step - accuracy: 0.8212 - loss: 0.4206
Epoch 6/50
235/235  1s 1ms/step - accuracy: 0.8286 - loss: 0.4057
Epoch 7/50
235/235  0s 1ms/step - accuracy: 0.8337 - loss: 0.4008
Epoch 8/50
235/235  1s 1ms/step - accuracy: 0.8207 - loss: 0.4114
Epoch 9/50
235/235  1s 2ms/step - accuracy: 0.8369 - loss: 0.3984
Epoch 10/50
235/235  0s 1ms/step - accuracy: 0.8326 - loss: 0.4047
Epoch 11/50
235/235  0s 1ms/step - accuracy: 0.8410 - loss: 0.3811
Epoch 12/50
235/235  1s 1ms/step - accuracy: 0.8422 - loss: 0.3873
Epoch 13/50
235/235  0s 1ms/step - accuracy: 0.8366 - loss: 0.3903
Epoch 14/50
235/235  1s 1ms/step - accuracy: 0.8322 - loss: 0.3950
Epoch 15/50
235/235  1s 2ms/step - accuracy: 0.8335 - loss: 0.3945
Epoch 16/50
235/235  1s 1ms/step - accuracy: 0.8376 - loss: 0.3856
Epoch 17/50
235/235  1s 2ms/step - accuracy: 0.8441 - loss: 0.3740
Epoch 18/50
235/235  1s 2ms/step - accuracy: 0.8442 - loss: 0.3773
Epoch 19/50
235/235  1s 2ms/step - accuracy: 0.8391 - loss: 0.3813
Epoch 20/50
235/235  1s 2ms/step - accuracy: 0.8549 - loss: 0.3594
Epoch 21/50
235/235  1s 2ms/step - accuracy: 0.8394 - loss: 0.3700
Epoch 22/50
235/235  1s 3ms/step - accuracy: 0.8481 - loss: 0.3677
Epoch 23/50
235/235  0s 1ms/step - accuracy: 0.8455 - loss: 0.3722
Epoch 24/50
235/235  1s 1ms/step - accuracy: 0.8556 - loss: 0.3592
Epoch 25/50
235/235  0s 1ms/step - accuracy: 0.8415 - loss: 0.3810
Epoch 26/50
235/235  1s 1ms/step - accuracy: 0.8529 - loss: 0.3649
Epoch 27/50
235/235  1s 1ms/step - accuracy: 0.8514 - loss: 0.3730
Epoch 28/50
235/235  1s 1ms/step - accuracy: 0.8565 - loss: 0.3606
Epoch 29/50
235/235  1s 1ms/step - accuracy: 0.8548 - loss: 0.3589
Epoch 30/50
235/235  1s 1ms/step - accuracy: 0.8517 - loss: 0.3605
Epoch 31/50
235/235  1s 1ms/step - accuracy: 0.8501 - loss: 0.3645
Epoch 32/50
235/235  1s 2ms/step - accuracy: 0.8561 - loss: 0.3548
Epoch 33/50
235/235  1s 1ms/step - accuracy: 0.8558 - loss: 0.3627
Epoch 34/50
235/235  1s 2ms/step - accuracy: 0.8607 - loss: 0.3543
Epoch 35/50
235/235  1s 1ms/step - accuracy: 0.8504 - loss: 0.3653
Epoch 36/50
235/235  1s 1ms/step - accuracy: 0.8604 - loss: 0.3480
Epoch 37/50
235/235  1s 1ms/step - accuracy: 0.8492 - loss: 0.3662
Epoch 38/50
235/235  1s 1ms/step - accuracy: 0.8497 - loss: 0.3652
Epoch 39/50
235/235  1s 2ms/step - accuracy: 0.8509 - loss: 0.3579
Epoch 40/50
235/235  1s 2ms/step - accuracy: 0.8456 - loss: 0.3618
Epoch 41/50
235/235  1s 2ms/step - accuracy: 0.8583 - loss: 0.3572
Epoch 42/50
235/235  1s 2ms/step - accuracy: 0.8490 - loss: 0.3607
Epoch 43/50
235/235  1s 2ms/step - accuracy: 0.8543 - loss: 0.3592
Epoch 44/50
235/235  1s 2ms/step - accuracy: 0.8530 - loss: 0.3590
Epoch 45/50
235/235  1s 1ms/step - accuracy: 0.8598 - loss: 0.3407
Epoch 46/50
235/235  1s 1ms/step - accuracy: 0.8585 - loss: 0.3420
Epoch 47/50
235/235  1s 2ms/step - accuracy: 0.8584 - loss: 0.3478
Epoch 48/50
235/235  1s 1ms/step - accuracy: 0.8640 - loss: 0.3422
Epoch 49/50
235/235  1s 2ms/step - accuracy: 0.8582 - loss: 0.3453
Epoch 50/50
235/235  1s 1ms/step - accuracy: 0.8580 - loss: 0.3476

In [ ]:
y_pred = model.predict(x_test)
y_pred = (y_pred > 0.5)
y_pred

79/79  0s 1ms/step

array([[False],
       [False],
       [ True],
       ...,
       [False],
       [False],
       [False]])

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
print("accuracy = ", accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

accuracy =  0.8432
[[1944   36]
 [ 356  164]]